<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML Strict//EN"><META http-equiv="Content-Type" content="text/html; charset=utf-8">

<HTML>
<HEAD><STYLE>
BODY
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: white;
	padding-top: 0px;
}
H1
{
	color: #7b5495;
}
H2
{
	color: #7b5495;
}
BODY
{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 12px;
}
TABLE
{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 12px;
}
TD
{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 12px;
}
TH
{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 13px;
}
TD
{
	vertical-align: top;
}
#main-table
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-collapse: collapse;
	height: 90%;
	padding-top: 0px;
}
#main-panel
{
	padding-right: 10px;
}
A:link
{
	color: #204a87;
	text-decoration: underline;
}
IMG
{
	border-bottom: 0px;
	border-left: 0px;
	vertical-align: middle;
	border-top: 0px;
	border-right: 0px;
}
#buildStatusDiv
{
	border-bottom: #d4bde6 1px solid;
	border-left: #d4bde6 1px solid;
	padding-bottom: 5px;
	background-color: #fffdfb;
	padding-left: 5px;
	padding-right: 5px;
	border-top: #d4bde6 1px solid;
	border-right: #d4bde6 1px solid;
	padding-top: 5px;
	border-radius: 4px;
}
#buildStatus
{
	border-bottom: medium none;
	border-left: medium none;
	width: 100%;
	border-collapse: collapse;
	color: #5c3566;
	border-top: medium none;
	border-right: medium none;
}
#buildStatus TH
{
	text-align: left;
	background-color: #f7f1fb;
}
#buildStatus TR
{
	border-bottom: #d4bde6 1px dotted;
	border-left: medium none;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
	border-top: medium none;
	border-right: medium none;
	padding-top: 3px;
}
#buildStatus TD
{
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: middle;
	padding-top: 3px;
}
.timeline
{
	border-bottom: #d4bde6 1px solid;
	border-left: #d4bde6 1px solid;
	height: 10px;
	border-top: #d4bde6 1px solid;
	border-right: #d4bde6 1px solid;
	background-color: #d4bde6;
	border-radius: 4px;
}
.timeline-container
{
	position: relative;
	overflow: hidden;
}

.tablerow:hover {background: #f7f1fb;}

</STYLE></HEAD>
<BODY class="yui-skin-sam" sizcache="0" sizset="0"><TABLE style=" MIN-WIDTH: 225px; BACKGROUND-REPEAT: repeat-x" id="main-table" border="0" cellSpacing="0" cellPadding="0" width="100%" bgColor="#faf7fd" height="100%" sizcache="0" sizset="0"><TBODY sizcache="0" sizset="0"><TR sizcache="0" sizset="0"><TD height="100%" sizcache="0" sizset="0"><DIV style="HEIGHT: 100%"><DIV style="BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 10px; HEIGHT: 100%" id="main-panel-container"><TABLE border="0" width="100%" height="100%"><TBODY><TR>

<TD id="main-panel" height="100%" width="100%">

 #if($context.getReportUrl())
 
 <DIV style="float:right;  margin-top:5px;">
  <H2><A href="$context.getReportUrl()" target="_blank" >下载关于信息</A></H2>
 </DIV>
 
 #end
 
 <H1>
  关于系统信息 
 </H1>
 <DIV id="tl" class="timeline timeline-container timeline-horizontal"> 
 
 </DIV>
 
 #set($aboutSetList=$context.getAboutSets())
 #foreach ($aboutSet in $aboutSetList)
 
 <H2>$aboutSet.getName()</H2>
 
 <DIV id="buildStatusDiv"> 
  <TABLE id="buildStatus" class="sortable">
   <TBODY>   
   
    <TR>    
    
    #foreach ($head in $aboutSet.getHead())
     <TH>
      $head<SPAN class="sortarrow">&nbsp;&nbsp;</SPAN>
     </TH>
     #end
     
    </TR>
    
     #foreach ($aboutItem in $aboutSet.getItems())
    <TR class="tablerow">    
     #foreach ($itemValue in $aboutItem.getValues())
     <TD>
     $itemValue
     </TD>  
      #end    
      
    </TR>    
   #end
   
   </TBODY>
  </TABLE>  
 </DIV>
 
 #end
 
</TD>

</TR></TBODY></TABLE></DIV></DIV></TD></TR></TBODY></TABLE></BODY></HTML>