<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCMaven:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCMaven-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCMaven:war exploded" />
    </root>
  </artifact>
</component>